
  <div class="about-header">
    <h1>About the <span id="team"></span>Team</h1>
  </div>

<div class="team-picture d-flex justify-content-center">
  <%= image_tag("team.jpg", height: '400', width: '600', class: "team") %>
</div>

<div class= "container">
  <div class="row">
    <div class = "team-members col-12 col-md-6 col-lg-3">
      <a href= 'https://github.com/Jkanner97' target="_blank">
      <%= image_tag("cropped_joe.jpg", class: "teamate mx-5 mb-4") %>
        <h3><strong>Joe</strong></h3>

      </a>
    <p class = "text-justify text-white">Recently completed army service as a commander in the Nachal Brigade. Joined Le Wagon to gain technical skills. Will start a degree in Economics in the fall.</p>
      </div>
    <div class = "team-members col-12 col-md-6 col-lg-3">
    <a href= 'https://github.com/charlottehetzler' target="_blank">
      <%= image_tag("Charly.jpg", class: "teamate mx-5 mb-4") %>
       <h3><strong>Charlotte</strong></h3>
    </a>
    <p class = "text-justify text-white">I worked at BMW AG in Munich, Germany before coming to TLV for the Le Wagon bootcamp. With learning coding I'm hoping to combine this new knowledge with my business/finance background. After Le Wagon I'm planning to do a Master's degree in finance.</p>
      </div>
    <div class = "team-members col-12 col-md-6 col-lg-3">
    <a href= 'https://github.com/mpfadenhauer' target="_blank">
      <%= image_tag("max.png", class: "teamate mx-5 mb-4") %>
      <h3><strong>Max</strong></h3>
    </a>
    <p class = "text-justify text-white">I worked in Management Consulting, Deal Advisory and Technology Strategy for the last 6 years. With Le Wagon I want to add coding skills to my technology know-how. After the bootcamp I will join a Berlin-based politics tech startup as COO.</p>
      </div>
    <div class = "team-members col-12 col-md-6 col-lg-3">
<a href= 'https://github.com/maya-a' target="_blank">
      <%= image_tag("maya.jpg", class: "teamate mx-5 mb-4") %>
    <h3><strong>Maya</strong></h3>
       </a>
    <p class = "text-justify text-white">I'm 20 years old from Tel-Aviv, an official Le-Wagon alumni and a part on the infamous SockCiety™️ team. I'm about to start studying CS and psychology at TAU. Click on my picture to check out all my previous projects.</p>
    </div>
  </div>
</div>
