<head>
  <%= favicon_link_tag asset_path("joyage_blue.svg"), rel: 'icon'%>
</head>


<div class="wrapper">
  <div class="container">
    <div class="headline">
      <h1><span id="you"><strong>Bon Joyage!</strong></span><br></h1>
    </div>
    <br>
      <h2 class= "begin text-white">Your trip begins in...</h2>
      <!-- Countdown timer for trip -->
      <div id="date" data-date="<%=  @date %>"></div>

    <div class="timer-headline">
      <h1 id="countdown"></h1>
    </div>

    <!-- Recommendations for trip -->

    <div class="recommendations">

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "lonelyplanet.jpg" %>);"><%=link_to "https://wikitravel.org/en/#{@destination_city}", target: "_blank", class: 'clear-link' do %>Travel guides <%end%> </div>


      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "tourguide.jpg" %>);"><%=link_to "https://www.getyourguide.co.uk/s/?q=#{@destination_city}&customerSearch=1&searchSource=2", target: "_blank", class: 'clear-link' do %>Guided tours<% end %>
      </div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "hotel.jpg" %>);"><%=link_to "https://www.airbnb.com/s/all?query=#{@destination_city}", target: "_blank",  class: 'clear-link' do %>Accomodation<% end %>
      </div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "event.jpg" %>);"><%=link_to "https://www.timeout.com/#{@destination_city}", target: "_blank", class: 'clear-link' do %>Events<% end %>
      </div>
    </div>
  </div>
</div>
