<div class="wrapper">
  <div class="container">
    <div class="headline">
      <h1><span id="you">Thank you </span>for booking<br>your trip with up!</h1>
    </div>

      <!-- Countdown timer for trip -->

    <div class="headline">
      <h1 id="countdown"></h1>
    </div>

    <!-- Recommendations for trip -->

    <div class="recommendations">

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "lonelyplanet.jpg" %>);"><%=link_to "https://wikitravel.org/en/New_York_City", class: 'clear-link' do %>Travel guides <%end%> </div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "tourguide.jpg" %>);"><%=link_to "https://www.getyourguide.co.uk/new-york-l59/?utm_force=0", class: 'clear-link' do %>Guided tours<% end %>
      </div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "hotel.jpg" %>);"><%=link_to "https://www.airbnb.com/s/New-York--NY/all?refinement_paths%5B%5D=%2Ffor_you&place_id=ChIJOwg_06VPwokRYv534QaPC8g", class: 'clear-link' do %>Accomodation<% end %>
      </div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "event.jpg" %>);"><%=link_to "https://www.timeout.com/newyork/events-calendar", class: 'clear-link' do %>Events<% end %>
      </div>

    </div>
  </div>
</div>
