<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="new-search col-md-12 col-md-offset-2">
        <div class="headline">
          <%= image_tag "Joyage.png", {alt: "logo"}  %>
          <h1>Joyage</h1>
        </div>
        <div class="simple-form-for">
          <%= simple_form_for @search do |s| %>
          <div class="input-form">
            <div class="origins">
              <div class="add-origins">
                <p>Add Hometowns</p>
                <input class="form-control string optional" placeholder="Enter starting point" type="text" name="search[origin][]" id="search_origin">
              </div>
              <button id="add-origin">+</button>
            </div>
            <div class="dates">
              <%= s.input :dep_date, label: "Date from", as: :string, required: false, input_html: {id: "dep_date"}  %>
              <%= s.input :ret_date, label: "Date to", as: :string, required: false, input_html: {id: "ret_date"} %>
            </div>
            <%= s.input :max_budget, label: "Your maximum budget", input_html: { class: "js-range-slider" } %>
          </div>
            <div class="categories">
              <input id="beach" name="search[category]" type="radio" value="beach/island" checked="checked" />
              <label for="beach"><i class="fas fa-umbrella-beach"></i></label>
              <input id="city" name="search[category]" type="radio" value="2" />
              <label for="city"><i class="fas fa-university"></i></label>
              <input id="winter" name="search[category]" type="radio" value="3" />
              <label for="winter"><i class="fas fa-skiing"></i></label>
              <input id="nature" name="search[category]" type="radio" value="3" />
              <label for="nature"><i class="fas fa-bicycle"></i></label>
            </div>
          <%= s.submit "Get results", class: "create-trip" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
