<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="new-search col-md-12 col-md-offset-2">
        <div class="headline">
          <%= image_tag "Joyage.png", {alt: "logo"}  %>
          <h1>Joyage</h1>
        </div>
          <div id="show-container">
            <div class="simple-form-for">
              <%= simple_form_for @search do |s| %>
              <div class="input-form">
                <div class="origins">

                  <div class="add-origins">
                    <p>Add Hometowns</p>
                    <div class="origins-box">
                      <%= select_tag "origins", options_from_collection_for_select(Origin.all, "id", "name"), class: "form-control string optional select2", multiple: true  %>
                   <!--    <select class="" placeholder="Enter starting point" type="text" name="search[origin][]" id="search_origin"> -->

                    </div>
                  </div>
                  <div id="add-origin">+</div>

                </div>
                <div class="date-categories">

                  <div class="dates">
                    <%= s.input :dep_date, label: "Date from", as: :string, required: false, input_html: {id: "dep_date"}  %>
                    <%= s.input :ret_date, label: "Date to", as: :string, required: false, input_html: {id: "ret_date"} %>
                  </div>
                  <div class="add-categories">
                    <p>Choose your category</p>
                    <div class="categories">
                      <div class="category">
                        <input id="beach" name="search[category]" type="radio" value="beach/island" checked="checked" />
                        <label for="beach">
                          <i class="fas fa-umbrella-beach"></i>
                          <p>Beach</p>
                        </label>
                      </div>
                      <div class="category">
                        <input id="city" name="search[category]" type="radio" value="2" />
                        <label for="city">
                          <i class="fas fa-university"></i>
                          <p>City</p>
                        </label>
                      </div>
                      <div class="category">
                        <input id="winter" name="search[category]" type="radio" value="3" />
                        <label for="winter">
                          <i class="fas fa-skiing"></i>
                          <p>Winter</p>
                        </label>
                      </div>
                      <div class="category">
                        <input id="nature" name="search[category]" type="radio" value="3" />
                        <label for="nature">
                          <i class="fas fa-bicycle"></i>
                          <p>Nature</p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <%= s.input :max_budget, label: "Your maximum budget", input_html: { class: "js-range-slider" } %>

              </div>
              <%= s.submit "Get results", class: "create-trip" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

