
<div class="trips container">
  <div class="row">
    <div class="overview col-md-12 col-md-offset-2">
      <div class="headline">
        <h1> Your <span class="trip-name">Amsterdam </span>trip</h1>
        <button id="share" data-toggle="modal" data-target="#shareModal">Share Trip</button>
      </div>
      <div class="itinearies">
        <% @flight_info.each do |flight_info| %>
        <div class="itnineary-card">
          <div class="information">
            <h3>From <%= flight_info[:origin_city] %></h3>
          </div>
          <div class="depature">
            <div class="dep date">
              <p><strong>Depature</strong></p>
              <p><%= flight_info[:departure_date].slice(0..9) %></p>
            </div>
            <div class="dep time">
              <p><strong>Time</strong></p>
              <p><%= flight_info[:departure_date].slice(11..14) %></p>
            </div>
             <div class="dep duration">
              <p><strong>Duration</strong></p>
              <p><%= flight_info[:duration].slice(3..7) %></p>
            </div>
            <div class="dep layover">
              <p><strong>Layovers</strong></p>
              <p><%= flight_info[:layovers] %></p>
            </div>
          </div>
          <div class="return">
            <div class="ret date">
              <p><strong>Arrival</strong></p>
              <p><%= flight_info[:return_arrival_date].slice(0..9) %></p>
            </div>
            <div class="ret time">
              <p><strong>Time</strong></p>
              <p><%= flight_info[:return_arrival_date].slice(11..14) %></p>
            </div>
             <div class="ret duration">
              <p><strong>Duration</strong></p>
              <p><%= flight_info[:return_duration].slice(3..7) %></p>
            </div>
            <div class="ret layover">
              <p><strong>Layovers</strong></p>
              <p><%= flight_info[:return_layovers] %></p>
            </div>
          </div>
          <div class="buttons">
            <div class="change">
              <p><strong>Other options</strong></p>
              <button id="change" data-toggle="modal" data-target="#changeModal">Change Flight</button>
            </div>
            <div class="book">
              <p><strong><%= flight_info[:price].to_i %> €</strong></p>
              <%= link_to "Book Flight", thankyou_path, id:"book" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-headline">
          <i class="fas fa-arrow-alt-circle-down"></i>
        <h5 class="modal-title" id="shareModalLabel">Share the trip with your friends</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="share-input">Here's the link. <br> Click on copy to share</p>
<!--         <p class="share-input">Click on copy to share.</p> -->
        <div class="link-field">
        <% link = request.original_url   %>
        <p id="link"><%= link %></p>
        </div>
        <button id="copy" data-clipboard-action="copy" data-clipboard-target ="#link">Copy</button>
      </div>
    </div>
  </div>
</div>

<!--Share Modal -->
<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="changeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="change-modal-content">
        <div class="modal-headline">
        <h5 class="change-modal-title" id="changeModalLabel">Your flight options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <div class="change-modal-body">
        <div class="options">
          <div class="option">
            <%= image_tag "lufthansa.png", {alt: "airline"}  %>
            <div class="option-flight">
              <p>From TLV</p>
              <p>2019-08-01 16:50</p>
              <p>150 €</p>
            </div>
              <input id="check" name="checkbox" type="radio" value="1" checked="checked" />
              <label for="check">
                <i class="far fa-check-circle"></i>
              </label>
          </div>
          <div class="option">
            <%= image_tag "lufthansa.png", {alt: "airline"}  %>
            <div class="option-flight">
              <p>From TLV</p>
              <p>2019-08-01 20:00</p>
              <p>219 €</p>
            </div>
              <input id="check" name="checkbox" type="radio" value="2" />
              <label for="check">
                <i class="far fa-check-circle"></i>
              </label>
          </div>
          <div class="option">
            <%= image_tag "lufthansa.png", {alt: "airline"}  %>
            <div class="option-flight">
              <p>From TLV</p>
              <p>2019-08-01 07:15</p>
              <p>90 €</p>
            </div>
              <input id="check" name="checkbox" type="radio" value="3"/>
              <label for="check">
                <i class="far fa-check-circle"></i>
              </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
